<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Blog{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'pages:post_list' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'signup' %}">Signup</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
